{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for m in messages %}
              <script>
                Swal.fire({
                  "title": "Felicitaciones",
                  "text": "{{m}}",
                  "icon": "success"
                  
                })
              </script>
        
        {% endfor %}
       

    {% endif %}
<div class="row">
    <div class="col-6 cd-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2>Nueva Categoria</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    
                        {{ form | crispy }}
                        <div class="d-flex justify-content-end">
                            <input type="reset"  value="Limpiar" class="btn btn-secondary" >
                            &nbsp;
                            <input type="submit"  value="Guardar" class="btn btn-primary">

                            &nbsp;
                            <a class="btn btn-info" href="{% url 'listar' %}" role="button">Ver</a>


                        </div>
                    
                    
                </form>
                
        
                
            </div>
        </div>
        


    </div>
    
    
    
</div>








{% endblock content %}