{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% block js %}


<script>
  function elimina(id) {
    Swal.fire({
      title: "Esta seguro?",
      text: "Esta accion no se puede deshacer",
      icon: "question",
      showCancelButton: true,
      cancelButtonText: "No, Cancelar",
      confirmButtonText: "Si, Eliminar",
      reverseButtons: true,
      confirmButtonColor: "#dc3545",
    })
      .then(function (result) {
        if (result.isConfirmed) {
          window.location.href = "/elimina/" + id + "/";
        }
      });
  }
</script>

{% endblock %}



<div class="card">
  <div class="card-body">
    <h2>Lista marcas</h2>

    <table class="table table-striped table-hover table-responsive-sm">
      <tr>
        <th></th>

        <th>Nombre</th>

       
        {% for p in marca %}
      <tr>
        
        <td>{{p.nombre | title }}</td>
        

        <td><a href="{% url 'edita' p.id %}" class="btn btn-info btn-sm">Editar</a>
          <a href="#" onClick="elimina({{p.id}})" class="btn btn-danger btn-sm">Eliminar</a>
        </td>

      </tr>
      {% endfor %}
    </table>
  </div>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% if messages %}
  {% for m in messages %}

  <script>

    Swal.fire({

      title: "Felicitaciones",
      text: "{{m}}",
      icon: "success",
    });
  </script>

  {% endfor %}
  {% endif %}
</div>

{% endblock content %}