{% extends 'auto/main.html' %}
{% load static %}
{% block content %}
{% block js %}


<script>
  function eliminar(id) {
    Swal.fire({
      title: "Esta seguro?",
      text: "Esta accion no se puede deshacer",
      icon: "question",
      showCancelButton: true,
      cancelButtonText: "No, Cancelar",
      confirmButtonText: "Si, Eliminar",
      reverseButtons: true,
      confirmButtonColor: "#dc3545",
    })
      .then(function (result) {
        if (result.isConfirmed) {
          window.location.href = "/eliminar/" + id + "/";
        }
      });
  }
</script>

{% endblock %}

<!-- <style>
    th {
        background-color: #04AA6D;
        color: white;
        text-align: center;
      }
      
    td {
        text-align: center;
      }
      table {
        border-collapse: collapse;
      }  

      tr:nth-child(even) {background-color:  #003a;}  
      tr:hover {background-color: #04AA6D;}  
</style> -->

<div class="card">
  <div class="card-body">
    <h2>Lista Auto</h2>

    <table class="table table-striped table-hover table-responsive-sm">
      <tr>

        <th>nombre</th>

        <th>kilometraje</th>


        <!-- <th>comentario</th> -->



        <th>marca</th>
        <th>comentario</th>
      </tr>

      {% for a in auto %}
      <tr>
        <td>{{a.nombre | title }}</td>
        <td>{{a.kilometraje }}</td>

        <td>{{a.marca}}</td>
        <td>{{a.comentario}}</td>
        <td>
        <td>
          <a href="" class="btn btn-outline-success btn-sm"><i
              class="fas fa-plus-circle"></i>Agregrar</a>
          <a href="" class="btn btn-outline-info btn-sm"><i class="far fa-edit"></i>Editar</a>

          <a href="#" onClick="eliminar({{p.id}})" class="btn btn-outline-danger btn-sm"><i
              class="fas fa-trash-alt"></i>Eliminar</a>
        </td>
        </td>

      </tr>
      {% endfor %}
    </table>
  </div>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% if messages %}
  {% for m in messages %}

  <script>

    Swal.fire({

      title: "Felicitaciones",
      text: "{{m}}",
      icon: "success",
    });
  </script>

  {% endfor %}
  {% endif %}
</div>
    

{% endblock content %}